In [ ]:

Задача 1
Оформляйте ноутбук, используя эти советы:

Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код

Задача 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе:

In [2]:
dictionary_fruits={"Манго": 11, "Ананас": 12, "Киви": 13, "Личи": 18, "Апельсины": 23}

def enter_name_fruits(fruits):
    result = sum(fruits.values())
    return f"Количество фруктов на складе: {result}"

enter_name_fruits(dictionary_fruits)

'Количество фруктов на складе: 77'


Задача 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.

Удалите такие значения из списка и посчитайте суммарные затраты:
[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [3]:
list_costs=[100, 125, -90, 345, 655, -1, 0, 200]

def total_costs(costs):
    result = sum([i for i in costs if i > 0])
    return f"Cуммарные затраты: {result}"

total_costs(list_costs)

'Cуммарные затраты: 1425'

Задача 4
Даны два списка.
Дата покупки:
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам:
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

Задача 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [5]:
list_date_purchase=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
                    '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
                    '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
                    '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
                    '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
                    '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
list_summa_purchase=[1270, 8413, 9028, 3703, 5739, 
                     4095, 295, 4944, 5723, 3701, 
                     4471, 651, 7037, 4274, 6275, 
                     4988, 6930, 2971, 6592, 2004, 
                     2822, 519, 3406, 2732, 5015, 
                     2008, 316, 6333, 5700, 2887]
from datetime import datetime

def search_revenue_month(list1: list, list2: list, date_month: str) -> list:
    result = sum([list2[i] for i in range(len(list1)) if date_month in str(datetime.strptime(list1[i], "%Y-%m-%d").month)])
    return f"Выручка у компании за ноябрь: {result}"

search_revenue_month(list_date_purchase, list_summa_purchase, '11')

'Выручка у компании за ноябрь: 25098'

Задача 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [6]:
def search_revenue(list1: list, list2: list) -> dict:   
    list_result = {}
    
    for i in range(len(list1)):
        str_month = str(datetime.strptime(list1[i], "%Y-%m-%d").month)
        if str_month in list_result.keys():
            list_result[str_month] += list2[i]
        else:
            list_result[str_month] = list2[i]
    return list_result

print(search_revenue(list_date_purchase, list_summa_purchase))
{'9': 25647, '12': 45452, '10': 28645, '11': 25098}

{'9': 25647, '12': 45452, '10': 28645, '11': 25098}

{'9': 25647, '12': 45452, '10': 28645, '11': 25098}